* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#title-section {
    /* margin-left: 2em; */
    text-align: center;
}

#search-section {
    text-align: center;
    padding-bottom: 2em;
}

#results-section {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 3em;
}

.resultCard {
    position: relative;
    margin: 16px;
    padding: 8px;
    width: 280px;
    height: 125px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    background-color: #DDDDDD
}

.audioContainer{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    height: 16px;
    border-radius: 0%;
}

.artistName, .songName, .albumName, .yearInfo {
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 8px;
    font-size: 12px;
}

.artistDiv, .songDiv, .albumDiv, .yearDiv {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
}


i {
    float:inline-start;
    margin-right: 2px;
}

.fa-user {
    margin-right: 4px;
}

p {
    display: inline-block;
    text-align: left;
}

.thumbnail {
    float: left;
    margin-right: 10px;
}